<% layout("/layouts/boilerplate") %>

   <div class="row mt-3">
    <div class="col-8 offset-3">

    <h3><%= listing.title %></h3>
    </div>
    <div class="card col-6 offset-3 show-card mt-3 listings-card">
        
        <img src="<%= listing.image.url || listing.image %>" class="card-img-top" alt="listing_image" style="height: 20rem"/>
  <div class="card-body">
    <p class="card-text"></p>
        <b><%= listing.title %></b> <br>
        <p class="card-text">Owned By <i><%= listing.owner ? listing.owner.username : "Unknown User" %></i></p>
        <p class="card-text"><%= listing.description %> </p>
        <p class="card-text">&#x20B9;<%= listing.price.toLocaleString("en-IN") %> </p>
        <p class="card-text"><%= listing.location %> </p>
        <p class="card-text"><%= listing.country %></p>
    


       <% if(currUser && listing.owner && currUser._id.equals(listing.owner._id)) { %>
    <div class=" d-flex gap-3">
           <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary">Edit</a>
    

    <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE" class="m-0">
        <button  class="btn btn-outline-danger">Delete</button>
    </form>
    </div>
    <% } %>








      
      <div class=" mb-3">
        <hr>
        <% if(currUser){ %>
        <h4>Leave a Review</h4>


        <form action="/listings/<%= listing.id %>/reviews" method="POST" novalidate class="needs-validation">

            <!-- <div class="mb-3 mt-3">
                <label for="rating" class="form-label">Rating</label>
                <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range"/>
            </div> -->

            

           <div class="mb-3 mt-3">
          <fieldset class="starability-slot">
    <input type="radio"
           id="no-rate"
           class="input-no-rate"
           name="review[rating]"
           value="1"
           checked />

    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
    <label for="first-rate1">1 star</label>

    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
    <label for="first-rate2">2 stars</label>

    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
    <label for="first-rate3">3 stars</label>

    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
    <label for="first-rate4">4 stars</label>

    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
    <label for="first-rate5">5 stars</label>
</fieldset>
            </div>



            <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Comment</label>
                <textarea  id="comment" name="review[comment]" cols="30" rows="5" class="form-control" required></textarea>
                <div class="invalid-feedback">please add some comments.</div>
            </div>
            <br>


            
            <div>
                <button class="btn btn-outline-dark">submit review</button>
            </div>
        </form>
          <% } %>
       

       
            <% if(listing.reviews.length > 0) {%>
            <div class="row">
                <b><p>All Reviews</p></b>
            <% for (review of listing.reviews) { %>
                <div class="card review-card col-5 ms-3 mb-3">
                    <div class="card-body">
                        <h5 class="card-title mt-2">@<%= review.author.username %></h5>
                        <p class="starability-result" data-rating="<%= review.rating %>">Rated: <%= review.rating %> stars</p>
                        <p class="card-text"><%= review.comment %></p>
                        
                         
                </div>
                <form class="mb-3" method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                    <button class=" btn btn-dark btn-sm  mt-2 ">Delete</button>
                </form>
                    </div>
                     <%}%>
                     </div>
                     <% } %>

      </div>
  </div>
  
 
  <div class="col-6 ">
     <h4>Location</h4>
     <div id="map"></div>
  </div>
  </div>
    </div>

    <script>
const mapToken = "<%= mapToken %>";


</script>


<script src="/js/map.js"></script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=<%= mapToken %>&callback=initMap"
  async
  defer>
</script>
   

